.App {
  text-align: center;
}

div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 1rem;
}

button {
  margin: 0.5rem;
  cursor: pointer;
  width: 100%;
  justify-content: center;
}